/*公共头部样式*/
/*大屏*/
@media screen and (min-width : 751px){
	.public_head{width: 100%;}
	/*logo*/
	.public_head .logo{float: left;}
	.public_head .logo img{width: 100%;height: 100%;}
	/*logo结束*/
	/*导航*/
	.public_head h1{display: none;}
	.public_head .nav{width: 80%;margin-top: 40px;float: right;}
	.public_head .nav .hamburger{display: none;}
	.public_head .nav_ul{width: 100%;box-sizing: border-box;}
	.public_head .nav_ul .move_left{display: none;}
	.public_head .nav_ul li{text-align: center;padding: 10px 0px;margin: 0 20px;float: left;}
	.public_head .nav_ul li a{color: #000;font-size: 24px;}
	.public_head li.active{border-bottom:3px solid #06c9fa;}
	.public_head li:last-child{display: none;}
	/*导航结束*/
}
/*大屏结束*/

/*小屏*/
@media screen and (max-width : 750px){
	.public_head{width: 100%;position: relative;}
	/*logo*/
	.public_head .logo img{display: none;}
	/*logo结束*/
	/*导航*/
	.public_head h1{text-align: center;font-size: 0.6rem;position: fixed;top: 0;left: 0;z-index: 50;width: 100%;line-height: 1rem;background-color: #999;}
	.public_head .hamburger{display: block;width: 1rem;height: 1rem;background: url(../images/head/list.png) no-repeat;background-size:1rem 1rem;position: absolute;top: 0;left: 0.1rem;z-index: 100;}
	.public_head .nav{width: 55%;position: fixed;top: 0;left: -55%;z-index: 999;}
	.public_head .nav_ul{background: #333;height: 100vh;border-radius:0 0 0.1rem 0;padding-top: 0.2rem;}
	.public_head .move_left{display: block;width: 1rem;height: 1rem;background:#333;position: absolute;top: 0;right: -0.9rem;border-radius:0 0.1rem 0.1rem 0;}
	.public_head .move_left img{width: 100%;height: 100%; }
	.public_head .nav_ul li:first-child{border-top: 0;}
	.public_head .nav_ul li{padding: 0.45rem 0.8rem;margin: 0 0.2rem;border-top: 1px solid #ccc;}
	.public_head .nav_ul li a{color: #fff;font-size: 0.45rem;}
	.public_head li.active{text-align: center;}
	.public_head li.active a{color: #06c9fa;}
	.public_head li:last-child{text-align: center;border-top:0;margin-top: 0.5rem;}
	.public_head li:last-child img{width: 3.5rem;height: 5.2rem;}
	/*导航结束*/
}
/*小屏结束*/ 

/*公共头部样式结束*/